In [ ]:
!pip install kagglehub

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2025.8.3)

In [ ]:
import warnings

warnings.filterwarnings("ignore")

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sooyoungher/smoking-drinking-dataset")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/smoking-drinking-dataset

In [ ]:
import os
import pandas as pd

# Build full path to CSV file
csv_path = os.path.join(path, "smoking_driking_dataset_Ver01.csv")  # adjust filename if needed

# Load into DataFrame
drinking_df = pd.read_csv(csv_path)

# Check data
drinking_df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [ ]:
any_null = drinking_df.isna().sum().sum()
print("Any missing values:", any_null)

Any missing values: 0

In [ ]:

print(drinking_df.info())
print(drinking_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB
None
                 age         height         weight      waistline  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean       47.614491     162.240625      63.284050      81.233358
std        14.181339       9.282957      12.514241      11.850323
min        20.000000     130.000000      25.000000       8.000000
25%        35.000000     155.000000      55.000000      74.100000
50%        45.000000     160.000000      60.000000      81.000000
75%        60.000000     170.000000      70.000000      87.800000
max        85.000000     190.000000     140.000000     999.000000

          sight_left    sight_right      hear_left     hear_right  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean        0.980834       0.978429       1.031495       1.030476
std         0.605949       0.604774       0.174650       0.171892
min         0.100000       0.100000       1.000000       1.000000
25%         0.700000       0.700000       1.000000       1.000000
50%         1.000000       1.000000       1.000000       1.000000
75%         1.200000       1.200000       1.000000       1.000000
max         9.900000       9.900000       2.000000       2.000000

                 SBP            DBP  ...      HDL_chole      LDL_chole  \
count  991346.000000  991346.000000  ...  991346.000000  991346.000000
mean      122.432498      76.052627  ...      56.936800     113.037692
std        14.543148       9.889365  ...      17.238479      35.842812
min        67.000000      32.000000  ...       1.000000       1.000000
25%       112.000000      70.000000  ...      46.000000      89.000000
50%       120.000000      76.000000  ...      55.000000     111.000000
75%       131.000000      82.000000  ...      66.000000     135.000000
max       273.000000     185.000000  ...    8110.000000    5119.000000

        triglyceride     hemoglobin  urine_protein  serum_creatinine  \
count  991346.000000  991346.000000  991346.000000     991346.000000
mean      132.141751      14.229824       1.094224          0.860467
std       102.196985       1.584929       0.437724          0.480530
min         1.000000       1.000000       1.000000          0.100000
25%        73.000000      13.200000       1.000000          0.700000
50%       106.000000      14.300000       1.000000          0.800000
75%       159.000000      15.400000       1.000000          1.000000
max      9490.000000      25.000000       6.000000         98.000000

            SGOT_AST       SGOT_ALT      gamma_GTP  SMK_stat_type_cd
count  991346.000000  991346.000000  991346.000000     991346.000000
mean       25.989308      25.755051      37.136347          1.608122
std        23.493386      26.308599      50.424153          0.818507
min         1.000000       1.000000       1.000000          1.000000
25%        19.000000      15.000000      16.000000          1.000000
50%        23.000000      20.000000      23.000000          1.000000
75%        28.000000      29.000000      39.000000          2.000000
max      9999.000000    7210.000000     999.000000          3.000000

[8 rows x 22 columns]

In [ ]:
drinking_df_with_duplicates = drinking_df.shape[0]
drinking_df = drinking_df.drop_duplicates()
drinking_df_without_duplicates = drinking_df.shape[0]

print(
    f"We dropped a total of {drinking_df_with_duplicates-drinking_df_without_duplicates} entries. \nTherefore we keep {(drinking_df_without_duplicates/drinking_df_with_duplicates)*100}% of our original data."
)

We dropped a total of 26 entries.
Therefore we keep 99.99737730318174% of our original data.

In [ ]:
metric_cols = [
    "age",
    "height",
    "weight",
    "waistline",
    "sight_left",
    "sight_right",
    "SBP",
    "DBP",
    "BLDS",
    "tot_chole",
    "HDL_chole",
    "LDL_chole",
    "triglyceride",
    "hemoglobin",
    "serum_creatinine",
    "SGOT_AST",
    "SGOT_ALT",
    "gamma_GTP",
]
ordinal_cols = ["hear_left", "hear_right", "urine_protein", "SMK_stat_type_cd"]
nominal_cols = ["sex", "DRK_YN"]

print(f"Metric Columns: \n{metric_cols}")
print(f"\nOrdinal Columns: \n{ordinal_cols}")
print(f"\nNominal Columns: \n{nominal_cols}")

Metric Columns:
['age', 'height', 'weight', 'waistline', 'sight_left', 'sight_right', 'SBP', 'DBP', 'BLDS', 'tot_chole', 'HDL_chole', 'LDL_chole', 'triglyceride', 'hemoglobin', 'serum_creatinine', 'SGOT_AST', 'SGOT_ALT', 'gamma_GTP']

Ordinal Columns:
['hear_left', 'hear_right', 'urine_protein', 'SMK_stat_type_cd']

Nominal Columns:
['sex', 'DRK_YN']

In [ ]:
smoking_df_before_outlierD = drinking_df.shape[0]

columns_to_check = [
    "age",
    "height",
    "weight",
    "waistline",
    "sight_left",
    "sight_right",
    "SBP",
    "DBP",
    "BLDS",
    "tot_chole",
    "HDL_chole",
    "LDL_chole",
    "triglyceride",
    "hemoglobin",
    "serum_creatinine",
    "SGOT_AST",
    "SGOT_ALT",
    "gamma_GTP",
]
z_scores = (
    drinking_df[columns_to_check] - drinking_df[columns_to_check].mean()
) / drinking_df[columns_to_check].std()

# 3σ Standart deviation
threshold = 3
outliers = np.abs(z_scores) > threshold
outlier_columns = outliers.columns[outliers.any()]
drinking_df_cleaned = drinking_df[~outliers.any(axis=1)]

smoking_df_after_outlierD = drinking_df_cleaned.shape[0]

print(
    f"Due to the removal of outliers the amout of entries reduced from {smoking_df_before_outlierD} to {smoking_df_after_outlierD} by {smoking_df_before_outlierD-smoking_df_after_outlierD} entries."
)

Due to the removal of outliers the amout of entries reduced from 991320 to 904029 by 87291 entries.

In [ ]:
smoking_df_before_outlierD = drinking_df.shape[0]

columns_to_check = [
    "age",
    "height",
    "weight",
    "waistline",
    "sight_left",
    "sight_right",
    "SBP",
    "DBP",
    "BLDS",
    "tot_chole",
    "HDL_chole",
    "LDL_chole",
    "triglyceride",
    "hemoglobin",
    "serum_creatinine",
    "SGOT_AST",
    "SGOT_ALT",
    "gamma_GTP",
]


z_scores = (
    drinking_df[columns_to_check] - drinking_df[columns_to_check].mean()
) / drinking_df[columns_to_check].std()

# 3σ Standart deviation
threshold = 3
outliers = np.abs(z_scores) > threshold
outlier_columns = outliers.columns[outliers.any()]
drinking_df_cleaned = drinking_df[~outliers.any(axis=1)]

smoking_df_after_outlierD = drinking_df_cleaned.shape[0]

print(
    f"Due to the removal of outliers the amout of entries reduced from {smoking_df_before_outlierD} to {smoking_df_after_outlierD} by {smoking_df_before_outlierD-smoking_df_after_outlierD} entries."
)

Due to the removal of outliers the amout of entries reduced from 991320 to 904029 by 87291 entries.

In [ ]:
df_x, df_y = (
    drinking_df_cleaned.drop("DRK_YN", axis=1),
    drinking_df_cleaned[["DRK_YN"]],
)

df_y["DRK_YN"] = df_y["DRK_YN"].replace({"Y": 1, "N": 0})

In [ ]:
cats = df_x.select_dtypes(exclude=np.number).columns.tolist()

for col in cats:
    df_x[col] = df_x[col].astype("category")

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_x, df_y, test_size=0.3, random_state=1, stratify=df_y, shuffle=True
)

In [ ]:
params_xgb = {
    "tree_method": "gpu_hist", # Changed from "cuda" to "gpu_hist"
    "n_estimators": 200,
    "learning_rate": 0.1,
    "max_depth": 5,
    "min_child_weight": 1,
    "subsample": 1.0,
    "colsample_bytree": 1.0,
    "gamma": 2,
    "reg_lambda": 1,
    "objective": "binary:logistic",
    "eval_metric": "logloss",
    "random_state": 0,
}

In [ ]:
print(X_train.shape, y_train.shape)
print(X_test.shape)
print(X_train.isnull().sum().sum(), X_test.isnull().sum().sum())

(632820, 23) (632820, 1)
(271209, 23)
0 0

In [ ]:
import xgboost as xgb
import time

# Ensure target is 1D numeric
y_train = y_train.values.ravel().astype(int)
y_test = y_test.values.ravel().astype(int)

# Convert categorical features to numeric codes
for col in X_train.select_dtypes(include='category').columns:
    X_train[col] = X_train[col].cat.codes
    X_test[col] = X_test[col].cat.codes

# Ensure DataFrame is numeric
X_train = X_train.apply(pd.to_numeric)
X_test = X_test.apply(pd.to_numeric)

# Train without enable_categorical
params_xgb["tree_method"] = "hist"  # Use CPU-safe method
clf = xgb.XGBClassifier(**params_xgb)

start_time_xgb = time.time()
clf.fit(X_train, y_train)
end_time_xgb = time.time()

print("Training time:", end_time_xgb - start_time_xgb)

# Predictions
predictions_xgb = clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Accuracy
accuracy = accuracy_score(y_test, predictions_xgb)
print("Accuracy:", accuracy)

# Classification report (precision, recall, f1-score)
print("\nClassification Report:\n", classification_report(y_test, predictions_xgb))

# Confusion Matrix
print("\nConfusion Matrix:\n", confusion_matrix(y_test, predictions_xgb))


print("F1 Score: ", f1_xgb)

Accuracy: 0.735167343266632

Classification Report:
               precision    recall  f1-score   support

           0       0.74      0.74      0.74    137625
           1       0.73      0.74      0.73    133584

    accuracy                           0.74    271209
   macro avg       0.74      0.74      0.74    271209
weighted avg       0.74      0.74      0.74    271209


Confusion Matrix:
 [[101184  36441]
 [ 35384  98200]]
F1 Score:  0.7322210830459502

In [ ]:
!pip install optuna plotly

Collecting optuna
  Downloading optuna-4.5.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (5.24.1)
Collecting alembic>=1.5.0 (from optuna)
  Downloading alembic-1.16.4-py3-none-any.whl.metadata (7.3 kB)
Collecting colorlog (from optuna)
  Downloading colorlog-6.9.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from optuna) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from optuna) (25.0)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.12/dist-packages (from optuna) (2.0.43)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from optuna) (4.67.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.12/dist-packages (from optuna) (6.0.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly) (8.5.0)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic>=1.5.0->optuna) (1.1.3)
Requirement already satisfied: typing-extensions>=4.12 in /usr/local/lib/python3.12/dist-packages (from alembic>=1.5.0->optuna) (4.14.1)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.2.4)
Downloading optuna-4.5.0-py3-none-any.whl (400 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 400.9/400.9 kB 13.6 MB/s eta 0:00:00
Downloading alembic-1.16.4-py3-none-any.whl (247 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 12.3 MB/s eta 0:00:00
Downloading colorlog-6.9.0-py3-none-any.whl (11 kB)
Installing collected packages: colorlog, alembic, optuna
Successfully installed alembic-1.16.4 colorlog-6.9.0 optuna-4.5.0